body{
    font-family: Arial;
    padding: 20px;
    background-color: bisque;
}
h2{
    color: darkgreen;
}
table{
    width: 40%;
}
input{
    width: 60px;
}
button{
    padding: 5px 10px;
    background: blue;
    color: white;
    border: none;
    cursor: pointer;
}
